dist
temp
coverage
course-catalog/node_modules
.DS_Store
.idea
.vscode
debug.log

*.log
*.swp
*~
.env

course-catalog/.nuxt
.output
course-catalog/.nuxt/app.config.mjs
course-catalog/.nuxt/app.config.mjs
course-catalog/.nuxt/app.config.mjs
course-catalog/.nuxt/dev/index.mjs
course-catalog/node_modules/.vite/deps/vue-router.js.map
